.image {
  text-align: center;
}
h1 {
  text-align: center;
}
.circular-progress {
  text-align: center;
  margin: 25px;
}
.searcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.poke-ball {
  max-width: 90%;
  height: auto;
  margin: 20px;
}
@media only screen and (min-width: 600px) {
  .poke-ball {
    max-width: 20%;
  }
}
@media only screen and (min-width: 768px) {
  .poke-ball {
    max-width: 25%;
  }
}
.content-card {
  float: right;
  width: 20%;
  margin-top: -70px;
}
